# Paquete de django del proyecto
Django==3.0.8

# Paquete del driver de MySQL
mysqlclient

# Paquete para encriptación
django-fernet-fields==0.6

# Paquete para manejar las imagenes "Guardado y Modificado"
pillow==8.1.0