<div class="modal fade" id="modalServicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content formAnadirServicio">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAnadirServicio" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="txtNombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" name="txtNombre"
                            placeholder="Ingrese su nombre" id="txtSerNombre" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control form-control-sm" name="txtDescripcion"
                            placeholder="Ingrese la descripción" id="txtSerDesc" autocomplete="off" required>
                    </div>
                    <img name="foto" id="foto" class="img-thumbnail img-fluid foto" style="display: block;">
                    <label for="inputservicio" class="btn btn-success btnsubir">Subir foto</label>
                    <input class="btn btn-success btn-sm subirfoto" style="display: none;" id="inputservicio"
                        name="imgFotoServicio" type="file" accept="image/jpeg" onchange="previewimagenServicio(this);">
                    <div class="modal-footer" style="width: 100%; justify-content: flex-start;">
                        <div id="alertaCamposVaciosServicios" style="width: 100%;">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-agregar">Guardar servicio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>