<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content formAnadirProducto">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAnadirProducto" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="txtNombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre"
                            placeholder="Ingrese su nombre" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control form-control-sm" id="txtDescripcion"
                            name="txtDescripcion" placeholder="Ingrese la descripción" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="txtCantidad" class="col-form-label">Cantidad:</label>
                        <input type="number" class="form-control form-control-sm" id="txtCantidad" name="txtCantidad"
                            value="0" min="0" max="9999" autocomplete="off" required>
                    </div>

                    <div class="form-group">
                        <label for="txtPrecUnit" class="col-form-label">Precio unitario:</label>
                        <input type="number" class="form-control form-control-sm" id="txtPrecUnit" name="txtPrecUnit"
                            value="0" min="0" max="9999" step=".01" autocomplete="off" required>
                    </div>

                    <img name="foto" class="img-thumbnail img-fluid foto" id="fotoProducto" style="display: block;">
                    <label for="inputproducto" class="btn btn-success btnsubir">Subir foto</label>
                    <input class="btn btn-success btn-sm subirfoto" style="display: none;" id="inputproducto"
                        name="imgFoto" type="file" accept="image/jpeg" onchange="previewimagenProducto(this);">
                    <div class="modal-footer" style="width: 100%; justify-content: flex-start;">
                        <div id="alertaCamposVaciosProductos" style="width: 100%;">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-agregar">Guardar producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>