{% extends 'tplAdminMenu.html' %}
{% load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/administradorweb/actividad-comercial.css' %}">
{% endblock css %}

{% block content %}
<div class="nombre-opcion" id="title">Actividades comerciales</div>

<button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#modalAddActividad">
    <i class="fas fa-plus"></i>
    Agregar actividad
</button>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">
                Habilitadas
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">
                Deshabilitadas
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active pb-2" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="carts-actcomercial">
                {% for act_comercial in list_act_comercial %}
                {% if act_comercial.visible %}
                <div class="cart-actcomercial">
                    <div class="descripcion">
                        <div class="imagen">
                            <img src="{{ act_comercial.ruta_foto.url }}" alt="">
                        </div>
                        <div class="titulo">
                            <span>{{ act_comercial.nombre }}</span>
                        </div>
                    </div>
                    <div class="cont-opciones">
                        <div class="opciones">
                            <div>
                                <a href="javascript:deshabiliActivi({{act_comercial.id}}, '{{act_comercial.nombre}}')" 
                                class="btn btn-light" title="Deshabilitar actividad comercial">
                                    <i class="fas fa-ban"></i>
                                </a>
                                {% if act_comercial.count_empresas == 0 %}
                                    <a href="javascript:eliminarActivi({{act_comercial.id}}, '{{act_comercial.nombre}}')" 
                                    class="btn btn-light" title="Eliminar actividad comercial">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif %}
                                <a onClick="javascript:modificarActivi({{act_comercial.id}}, '{{act_comercial.nombre}}', '{{act_comercial.ruta_foto}}')" 
                                    class="btn btn-light" title="Modificar actividad comercial" >
                                        <i class="fas fa-cog"></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade pb-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="carts-actcomercial">
                {% for act_comercial in list_act_comercial %}
                {% if not act_comercial.visible %}
                <div class="cart-actcomercial">
                    <div class="descripcion">
                        <div class="imagen">
                            <img src="{{ act_comercial.ruta_foto.url }}" alt="">
                        </div>
                        <div class="titulo">
                            <span>{{ act_comercial.nombre }}</span>
                        </div>
                    </div>
                    <div class="cont-opciones">
                        <div class="opciones">
                            <div>
                                <a href="javascript:habilitarActivi({{act_comercial.id}}, '{{act_comercial.nombre}}')" 
                                class="btn btn-light" title="Habilitar actividad comercial">
                                    <i class="fas fa-undo"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'mdlAddActividad.html' %}
    {% include 'mdlEditActividad.html' %}
</div>

{% endblock content %}
