{% load static %}
<!DOCTYPE html>
<html lang="es-EC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap_4.6.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-5.15.2/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/controlnegocio/perfil-box.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/administradorweb/admin-web.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'img/logo_em_macara.png' %}" type="image/png" />
    <title>{% block title %}{% endblock title %}Administrador Web</title>
</head>

<body id="bodyAdmin">
    <div class="control-negocio">
        <div class="barra-lateral">

            <div class="perfil-box">
                <div class="img-perfil">
                    {% if request.session.usuario.perfil %}
                    <img src="{{ request.session.usuario.perfil }}">
                    {% else %}
                    <img src="{% static 'img/user.png' %}" class="user-perfil">
                    {% endif %}
                </div>
                <p class="nombre-empresa">{{ request.session.usuario.nombre }}</p>
                <div class="colores-macara" id="btn-colores-macara">
                    <div class="color-amarillo"></div>
                    <div class="color-verde"></div>
                    <div class="color-rojo"></div>
                </div>
            </div>
            <div class="opciones">
                <a href="{% url 'empresas' %}" class="btn-opcion {{datos.lista_active}}">
                    <i class="fas fa-store-alt"></i>
                    <div>Lista de empresas</div>
                </a>
                <a href="{% url 'solicitudes' %}" class="btn-opcion {{datos.solicitud_active}}">
                    <i class="fa fa-envelope"></i>
                    <div>Solicitudes de empresas</div>
                </a>
                <a href="{% url 'perfil-admin' %}" class="btn-opcion {{datos.perfil_active}}">
                    <i class="fas fa-user"></i>
                    <div>Perfil del administrador</div>
                </a>
                <button class="btn-opcion" id="btn-cerrar-sesion">
                    <i class="fas fa-sign-out-alt"></i>
                    <div>Cerrar sesión</div>
                </button>
            </div>

            <div class="nav-item dropdown">
                <a class="dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="dropdown-menu" id="btn-opciones" aria-labelledby="navbarDropdownMenuLink">
                    <a href="{% url 'empresas' %}" class="dropdown-item btn-opcion {{datos.lista_active}}">
                        <i class="fas fa-store-alt"></i>
                        <div>Lista de empresas</div>
                    </a>
                    <a href="{% url 'solicitudes' %}" class="dropdown-item btn-opcion {{datos.solicitud_active}}">
                        <i class="fa fa-envelope"></i>
                        <div>Solicitudes de empresas</div>
                    </a>
                    <a href="{% url 'perfil-admin' %}" class="dropdown-item btn-opcion {{datos.perfil_active}}">
                        <i class="fas fa-user"></i>
                        <div>Perfil del administrador</div>
                    </a>
                    <button class="dropdown-item btn-opcion" id="btn-cerrar-sesion02">
                        <i class="fas fa-sign-out-alt"></i>
                        <div>Cerrar sesión</div>
                    </button>
                </div>
            </div>
        </div>

        <div class="panel-contenido">
            <div class="grid-filas">
                {% block content %}{% endblock content %}
            </div>
            {% include "components/modal.html" %}
        </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        // Eventos click para cerrar la sesión
        $(document).ready(function () {
            $('#btn-cerrar-sesion').click(function (event) {
                event.preventDefault();
                $('#modal-cerrar-sesion').modal('show');
            });
            $('#btn-cerrar-sesion02').click(function (event) {
                event.preventDefault();
                $('#modal-cerrar-sesion').modal('show');
            });
        });
    </script>
    <div class="modal fade" id="modal-cerrar-sesion" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Advertencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="mensaje">¿Estás seguro que deseas cerrar sesión?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">
                            Si, Cerrar sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/global/sweetalert_2_v10.js'%}"></script>
    <script src="{% static 'js/global/sweetalert.min.js'%}"></script>
    <script src="{% static 'js/global/validaciones.js'%}"></script>
    <script src="{% static 'js/global/modal.js'%}"></script>
    <script src="{% static 'js/administradorWeb/administradorWeb.js'%}"></script>
    {% block js %} {% endblock js %}
</body>

</html>