{% extends 'tplAdminMenu.html' %}
{% load static%}

{% block js %}
<script>
    getSolicitudes();
</script>
{% endblock js %}

{% block content %}
<div class="nombre-opcion">Solicitudes pendientes de empresas</div>
    <nav>
        <form id="formSolicitud" name="formSolicitud" class="form-inline" >
            {% csrf_token %}
            <section class="input-group mb-2">
                <input type="search" class="form-control mr-2 rounded" id="txtBuscador" name="txtBuscador" size="50" placeholder="Por empresa o gerente" maxlength="50" required>
                <section class="input-group-prepend">
                    <button class="btn btn-primary rounded" id="btnBuscar" type="submit">Buscar</button>
                    <button class="btn bg-light rounded mx-2" type="button" id="btnRefrescar" title="Refrescar lista de solicitudes" onclick="javascript:getSolicitudes();"><i class="fas fa-sync-alt"></i></button>
                </section>
            </section>
        </form>
    </nav>
    <section id="mensaje">
    </section>
    <div class="grid-notificaciones" id="solicitudes">
    </div>
{% endblock %}




