:root {
  --color_morado: #0e0c66;
  --color_blanco: #f9f9f9;
  --color_verde: rgb(47, 118, 42);
}

body {
  background-color: var(--color_blanco);
}

header {
  background-color: var(--color_blanco);
  width: 100% !important;
  box-shadow: 0px 4px 4px 0px rgba(14, 12, 102, 0.25);
}

.navbar {
  width: 95% !important;
  padding: 0px !important;
  margin: auto;
  color: var(--color_verde) !important;
}

.navbar-collapse {
  transition: ease-in-out 0.35s !important;
}

.btn-light,
.nombre-pagina {
  color: var(--color_verde) !important;
  background-color: var(--color_blanco);
}

.btn-verde {
  background-color: var(--color_verde);
  color: var(--color_blanco) !important;
}

.btn-light,
.btn-verde {
  border: 1px solid var(--color_verde);
  border-radius: 30px;
  padding: 0.55rem 1.3rem !important;
  margin-left: 0.7rem !important;
  text-decoration: none !important;
}

.btn-light:hover,
.btn-verde:hover {
  box-shadow: 0px 0px 3px 3px rgba(47, 118, 42, 0.4);
  color: var(--color_verde) !important;
  background-color: var(--color_blanco);
  cursor: pointer;
  transition: ease-in-out 0.16s;
}

.nombre-pagina {
  font-weight: bold;
}

i.fas.fa-bars {
  color: var(--color_verde) !important;
}

.btn-light-nav {
  color: var(--color_verde) !important;
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
  text-align: center;
}
.btn-light-nav:hover {
  box-shadow: 0px 0px 3px 3px rgba(47, 118, 42, 0.4);
  border-radius: 3px;
  cursor: pointer;
  transition: ease-out 0.16s;
}
.btn-drop-nav {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  text-align: left;
}
.btn-drop-nav:hover {
  background-color: rgba(47, 118, 42, 0.8);
  color: var(--color_blanco) !important;
  cursor: pointer;
  transition: ease 0.16s;
}

.user-perfil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 991px) {
  /* .btn-light,
  .btn-verde {
    color: var(--color_verde) !important;
    background-color: var(--color_blanco);
    border: none;
    border-radius: initial;
    font-size: 0.9rem;
  }

  .btn-light:hover,
  .btn-verde:hover {
    background-color: rgba(103, 158, 240, 0.88);
    color: var(--color_blanco) !important;
    box-shadow: none;
  }*/

  header > .navbar > div.navbar-collapse > a.navbar-brand {
    display: none !important;
  }

  .navbar-tablet {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar-tablet > .nombre-pagina-tablet {
    color: #252525;
    width: 100%;
    text-align: center;
  }

  .navbar-responsivo,
  .navbar-responsivo > li{
    width: 100%;
  }

  .btn-light,
  .btn-verde,
  .btn-light-nav,
  .btn-drop-nav{
    width: 100%;
    display: block;
    border: none;
    border-radius: inherit;
    margin: 0px 0px 0px 0px !important;
    background-color: inherit;
    color: #252525 !important;
    text-align: center;
  }

  .btn-light:hover,
  .btn-verde:hover,
  .btn-light-nav:hover,
  .btn-drop-nav:hover{
    box-shadow: none;
    background-color: var(--color_verde);
    color: var(--color_blanco) !important;
    border-radius: none;
    border: none;
  }
}
