{% extends 'components/base.html' %}
{% load static %}

{% block title %}Registrar - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/global/ini_reg.css' %}" type="text/css">
{% endblock css %}

{% block navbar %}
{% include 'components/nav.html' %}
{% endblock navbar %}

{% block content %}
<div class="log-container">
    <div class="log-img">
        <img src="{% static 'img/img_macara/celular-min.png' %}" alt="" class="cell">
    </div>
    <div class="log">
        <h3>!Hola¡, llena los campos y forma parte de la comunidad</h3>
        <form name="formRegistrar" id="formRegistrar" method="POST" class="log-form">
            {% csrf_token %}
            <label for="txtNombre" class="log-f-label">Nombres</label>
            <input type="text" id="txtNombre" name="txtNombre" autocomplete="off" class="log-f-input"
                onkeypress="javascript:soloLetras(event);" maxlength="50" required>
            <label for="txtCedula" class="log-f-label">Cédula</label>
            <input type="text" id="txtCedula" name="txtCedula" class="log-f-input"
                onkeypress="javascript:soloNumeros(event);" autocomplete="off" minlength="10" maxlength="10" required>
            <label for="txtCelular" class="log-f-label">Celular o télefono</label>
            <input type="text" id="txtCelular" name="txtCelular" autocomplete="off" class="log-f-input"
                onkeypress="javascript:soloNumeros(event);" minlength="7" maxlength="10" required>
            <label for="txtCorreo" class="log-f-label">Correo</label>
            <input type="email" id="txtCorreo" name="txtCorreo" autocomplete="off" class="log-f-input" maxlength="75"
                required>
            <label for="txtCredenciales" class="log-f-label">Contraseña</label>
            <input type="password" id="txtCredenciales" name="txtCredenciales" class="log-f-input" required>
            <label for="txtCofirmCreden" class="log-f-label">Confirme la contraseña</label>
            <input type="password" id="txtCofirmCreden" name="txtCofirmCreden" class="log-f-input" required>
            <label for="txtDireccion" class="log-f-label">Dirección</label>
            <input type="text" id="txtDireccion" name="txtDireccion" autocomplete="off" class="log-f-input" required>
            <input type="submit" value="Registrarme" id="btnRegistrar" class="log-f-enviar btn btn-success">
        </form>
        <div class="log-links">
            <div>
                Si ya tienes una cuenta,
                <a href="{% url 'login' %}">
                    inicia sesión aquí
                </a>
            </div>
            <div>
                Si quieres formar parte de la comunidad de Emprendimientos Macará, registra tu
                <a href="{% url 'solicitar-cuenta' %}">
                    negocio aquí
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/global/validaciones.js'%}"></script>
<script>
    $(document).ready(function () {
        $("#formRegistrar").submit(function (e) {
            e.preventDefault();
            var parametros = new FormData($(this)[0]);
            if (validarContraseña("#txtCredenciales", "#txtCofirmCreden")) {
                document.querySelector("#btnRegistrar").setAttribute("disabled", false);
                document.body.style.cursor = 'wait';
                $.ajax({
                    url: '{% url "registrando-cliente" %}',
                    type: 'POST',
                    data: parametros,
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    document.body.style.cursor = 'default';
                    document.querySelector("#btnRegistrar").removeAttribute("disabled")
                    location.href = data.redirect
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    document.body.style.cursor = 'default';
                    document.querySelector("#btnRegistrar").removeAttribute("disabled")
                }).always(function (data) {

                });
            }
        });
    });
</script>
{% endblock js %}