<footer class="footer">
    <div class="footer-grid">
        <div>
            <h6>Emprendimientos Macará</h6>
            <p>
                Emprendimientos Macará es la comunidad de empresas locales en la que los negocios pueden compartir o
                publicar productos y servicios que ofrecen.
            </p>
        </div>
        <div class="redes-sociales">
            <h6>Nuestras redes sociales</h6>
            <ul class="item-conteiner">
                <li class="item">
                    <a href="https://www.facebook.com/emprendimientosmacara" target="_blank">
                        <i class="fab fa-facebook facebook"></i>
                        Emprendimientos Macará
                    </a>
                </li>
                <li class="item">
                    <a href="https://twitter.com/EmprendeMacara" target="_blank">
                        <i class="fab fa-twitter twitter"></i>
                        @EmprendeMacara
                    </a>
                </li>
                <li class="item">
                    <a href="https://wa.me/593982706391" target="_blank">
                        <i class="fab fa-whatsapp whatsapp"></i>
                        +593 98 270 6391
                    </a>
                </li>
                <li class="item">
                    <a href="https://www.instagram.com/emprendimientosmacara/" target="_blank">
                        <i class="fab fa-instagram instagram"></i>
                        @emprendimientosmacara
                    </a>
                </li>
                <li class="item">
                    <a href="mailto:emprendimientosmacara@gmail.com" target="_blank">
                        <div style="white-space: nowrap;">
                            <i class="far fa-envelope mail"></i>
                            emprendimientosmacara@gmail.com
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="desarrolladores">
            <h6>Desarrolladores</h6>
            <ul class="item-conteiner">
                <li class="item">
                    <a href="">
                        <a href="https://www.facebook.com/carlosdue2000/" target="_blank">
                            Carlos Almeida
                        </a>
                    </a>
                </li>
                <li class="item">
                    <a href="https://www.facebook.com/darlingbuenano/" target="_blank">
                        Darlyn Buenaño
                    </a>
                </li>
                <li class="item">
                    <a href="https://www.facebook.com/henryGU.31.01.19/" target="_blank">
                        Henry Pérez
                    </a>
                </li>
                <li class="item">
                    <a href="https://www.facebook.com/jhonplazarte/" target="_blank">
                        John Plazarte
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=uEZL8KC0XPFRljRmOgxvlZxoLNjwHzHgCxFcoV3v1kdJKrRhol9rO6VHDIqx"></script></span>
</footer>