<section class="modal fade" id="ventana_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered" role="document">
        <section class="modal-content">
            <section class="modal-header">
                <h5 id="md_titulo" class="modal-title"></h5>
                <section id="md_opcHeader">
                </section>
            </section>
            <section id="md_mensaje" class="modal-body">
            </section>
            <section id="md_opcFooter" class="modal-footer">
            </section>
        </section>
    </section>
</section>