{% load static %}
<ul class="navbar-nav nav ml-md-auto align-items-center navbar-responsivo">
    <li class="nav-item active">
        <a class="btn-light-nav" href="{% url 'index' %}" aria-current="true">Inicio<span
                class="sr-only">(current)</span></a>
    </li>


    <li class="nav-item nav-opc-carrito">
        <a class="nav-opc-carrito btn-light-nav" href="{% url 'carrito' %}">
            <i class="fas fa-shopping-cart mr-1"></i>
            <span>{{ request.session.carrito|length }}</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="m-0 btn-light" href="{% url 'registrar' %}">Regístrate</a>
    </li>
    <li class="nav-item">
        <a class="m-0 btn-verde" href="{% url 'login' %}">Inicia sesión</a>
    </li>
</ul>